	body {
	  padding-bottom: 40px;
	  color: #5a5a5a;
	  background: url(../img/slide-03.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide-03.jpg', sizingMethod='scale');
	  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide-03.jpg', sizingMethod='scale')";  
	}
	
	.carousel {
	  margin-bottom: 60px;
	}

	.carousel .container {
	  position: relative;
	  z-index: 9;
	}
	
	   .carousel img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-width: 100%;
	  height: 500px;
	}

	.carousel-control {
	  height: 80px;
	  margin-top: 0;
	  font-size: 120px;
	  text-shadow: 0 1px 1px rgba(0,0,0,.4);
	  background-color: transparent;
	  border: 0;
	  z-index: 10;
	}

	.carousel .item {
	  height: 500px;
	}

	.carousel-caption {
	  background-color: transparent;
	  position: static;
	  max-width: 550px;
	  padding: 0 20px;
	  margin-top: 200px;
	}
	.carousel-caption h1,
	.carousel-caption .lead {
	  margin: 0;
	  line-height: 1.25;
	  color: #fff;
	  text-shadow: 0 1px 1px rgba(0,0,0,.4);
	}
	.carousel-caption .btn {
	  margin-top: 10px;
	}
	
	   /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

	
	.login{
		margin-top: -350px;
		position: relative;
		left: 50%;
	}
	
	.hero-unit-login {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  position: absolute;
  background-color: #eeeeee;
  top: 40%;
  width: 350px;
  height: 240px;
  margin-top: -100px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  background: #222222;
  border: 3px solid #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=50);
  right: 95px;
  left: auto;
}

.hero-unit-login h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit-login li {
  line-height: 30px;
}

	
   