<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <ul class="breadcrumb">
                <li class="active">Home</a> <span class="divider">/</span></li>
            </ul>
            <div class="hero-unit">
                <div class="well">
                    <strong>Your Friends</strong><a href="#cadastrar"  class="btn btn-success pull-right " data-toggle="modal" ><i class="livicon shadowed" data-n="plus-alt" data-s="15" data-c="white" data-hc="0" data-onparent="true"></i>Add Friend</a>
                    <table class="table table-hover">
                        <tr>
                            <th>Friend</th>
                            <th><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                        </tr>
                        <tr>
                            <td>Friend 1</td>
                            <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                        </tr>
                        <tr>
                            <td>Friend 2</td>
                            <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                    </table>
                </div>

                <div class="well">
                    <strong>Do you know these guys?</strong>
                    <table class="table table-hover">
                        <tr>
                            <th>Friend</th>
                            <th><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                            <th><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                        </tr>
                        <tr>
                            <td>Friend 1</td>
                            <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                        </tr>
                        <tr>
                            <td>Friend 2</td>
                            <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                    </table>
                </div>
            </div>

        </div>
        <!-- AQUI JAZ UMA AREA DE ANUNCIO! -->
    </div>
</div>