<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Reunião</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#/home"><i class="livicon" data-n="home" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Home</a></li>
                        <li><a href="#/eventos"><i class="livicon" data-n="rocket" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Eventos</a></li>
                        <li><a href="#/convites"><i class="livicon" data-n="bell" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Convites</a></li>
                        <li class="active"><a href="#/amigos"><i class="livicon" data-n="users" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Amigos</a></li>
                        <li><a href="#/listacompras"><i class="livicon" data-n="list" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Lista de Compras</a></li>
                        <li><a href="#/meucadastro"><i class="livicon" data-n="user" data-s="15" data-c="#777" data-hc="white" data-op="1"></i>Cadastro</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><button href="logout.php" type="submit" class="btn"><%= htmlEncode(usrLog['login']) %> logout<span class="livicon shadowed" data-n="sign-out" data-s="15" data-c="black" data-hc="0" data-onparent="true"></span> </button></li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="container-fluid">
            <div class="row-fluid">
                <div class="span10">
                    <ul class="breadcrumb">
                        <li class="active">Home</a> <span class="divider">/</span></li>
                    </ul>
                    <div class="hero-unit">
                        <div class="well">
                            <strong>Seus Amigos</strong><a href="#cadastrar"  class="btn btn-success pull-right " data-toggle="modal" ><span class="livicon shadowed" data-n="plus-alt" data-s="15" data-c="white" data-hc="0" data-onparent="true"></span>
                                Adicionar Amigo
                            </a>
                            <table class="table table-hover">
                                <tr>
                                    <th>Amigo</th>
                                    <th><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                                </tr>
                                <tr>
                                    <td>Amigo 1</td>
                                    <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                                </tr>
                                <tr>
                                    <td>Amigo 2</td>
                                    <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            </table>
                        </div>

                        <div class="well">
                            <strong>Solicitações Pendentes</strong>
                            <table class="table table-hover">
                                <tr>
                                    <th>Amigo</th>
                                    <th><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                                    <th><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                                </tr>
                                <tr>
                                    <td>Amigo 1</td>
                                    <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                                    <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                                </tr>
                                <tr>
                                    <td>Amigo 2</td>
                                    <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                                    <td><i class="livicon" data-n="remove" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="span2">
                    <p>Side-bar destinada a ADS</p>
                </div>
            </div>
        </div>
