<div class="container-fluid" style="margin-top:6%;">
    <div class="row-fluid">
        <ul class="breadcrumb">
        <li class="active">Home</a> <span class="divider">/</span></li>
        </ul>
            <div class="hero-unit">
                <div class="well">
                    <strong>Your Shopping List</strong>
                    <table class="table table-hover">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Event</th>
                            <th><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                            <th><i class="livicon" data-n="checked-off" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></th>
                        </tr>
                        <tr class="success">
                            <td>Item 1</td>
                            <td>1</td>
                            <td>Event 1</td>
                            <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            <td><i class="livicon" data-n="checked-off" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                        </tr>
                        <tr class="error">
                            <td>Item 2</td>
                            <td>1</td>
                            <td>Event 1</td>
                            <td><i class="livicon" data-n="checked-on" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                            <td><i class="livicon" data-n="checked-off" data-s="25" data-c="#777" data-hc="#333" data-op="1"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        <!-- AQUI JAZ UMA AREA DE ANUNCIO! -->
    </div>
</div>