<div id="mais" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">More Information</h3>
    </div>
    <div class="modal-body">
        <legend>Event Name
        <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Options<i class="caret"></i></button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
        <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Do you wanna go?<i class="caret"></i></button>
            <ul class="dropdown-menu">
                <li><a href="#">Yeah!</a></li>
                <li><a href="#">No</a></li>
                <li><a href="#">Hum... Maybe</a></li>
            </ul>
        </div>
        </legend>
        <p>Data Início: 10/10/2010</p>
        <p>Hora Início: 22:30</p>
        <p>Data Fim: 10/10/2010</p>
        <p>Hora Fim: 22:30</p>
        <address>
            Endereço<br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
        </address>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>